.nav-tabs .nav-item .nav-link.text-success {
    color: #9c27b0 !important;
}

.custom-range {
    display: block;
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;  
    background: #FFF;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: #10dcf7;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.14), 0 7px 5px -5px rgba(0, 188, 212, 0.4);
}

.custom-range::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #10dcf7;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.14), 0 7px 5px -5px rgba(0, 188, 212, 0.4);
}

.icon-small {
    font-size: 30px !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    cursor: pointer;
}