<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Brightness By Pressure</h4>
        <div class="card-toolbar">
            <label class="swithLabel">Switch mode:</label>
            <input (change)="enablePressureMode($event)" type="checkbox" class="js-switch" />
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="positivePressureRange" class="control-label">Positive Pressure Range:</label>
            <input [(ngModel)]="positivePressureRange" name="positivePressureRange" max="1000" min="0" step="1" value="800" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label for="negativePressureRange" class="control-label">Negative Pressure Range:</label>
            <input [(ngModel)]="negativePressureRange" name="negativePressureRange" max="1000" min="0" step="1" value="500" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label for="defaultBrightness" class="control-label">Default Brightness:</label>
            <input [(ngModel)]="defaultBrightness" name="defaultBrightness" max="1" min="0.1" step="01" value="0.2" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label for="minBrightness" class="control-label">Min Brightness:</label>
            <input [(ngModel)]="minBrightness" name="minBrightness" max="1" min="0.01" step="0.01" value="0.01" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label for="maxBrightness" class="control-label">Max Brightness:</label>
            <input [(ngModel)]="maxBrightness" name="maxBrightness" max="1" min="0.01" step="0.01" value="0.05" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label for="maxStep" class="control-label">Max Step:</label>
            <input [(ngModel)]="maxStep" name="maxStep" max="1" min="0.01" step="0.01" value="0.07" type="number" class="form-control" />
        </div>
        <button (click)="updatePressureMode()" class="btn btn-info btn-sm">Update</button>
    </div>
</div>
