<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Modes:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li (click)="modeSwitch($event, 0)" class="nav-item">
                        <a class="nav-link active show" href="#simpleColor" data-toggle="tab">
                            <i class="material-icons">color_lens</i> Simple Color
                            <div class="ripple-container"></div>
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li (click)="modeSwitch($event, 1)" class="nav-item">
                        <a class="nav-link" href="#rainbow" data-toggle="tab">
                            <i class="material-icons">toys</i> Rainbow
                            <div class="ripple-container"></div>
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="simpleColor">
                <div class="color-nodes-list">
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>
                    <color-node (onSelectValue)='selectValue($event)'></color-node>                    
                </div>
            </div>
            <div class="tab-pane" id="rainbow">
                <div class="form-group">
                    <label for="step" class="control-label">Step:</label>
                    <input name="step" max="1" min="0.0001" step="0.0001" value="0.0005" type="number" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>